<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
  <h2>Log in</h2>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required placeholder="Enter Name"
           [(ngModel)]="username" #usernameInput="ngModel">
    <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="error">
      <div *ngIf="usernameInput.errors?.['required']">
        Username is required.
      </div>
    </div>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required placeholder="Enter Password"
           [(ngModel)]="password" #passwordInput="ngModel">
    <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error">
      <div *ngIf="passwordInput.errors?.['required']">
        Password is required.
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

<p>Don't have an account? <a routerLink="/signup">Signup</a></p>
